about {
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
  }

  div {
    width: 130px;
    margin: 10px auto 0;

    img {
      height: 130px;
      border-radius: 50%;
    }
  }

  p {
    width: 80%;
    margin: 20px auto;
    font-weight: 300;
  }
}
