.nav {
  background-image: url('../img/ax.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 90px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div {
    width: 60%;

    img {
      width: 90%;
      transition: 0.23s;
    }

    .slickLogo {
      margin-top: 40px;
      transition: 0.22s;
    }
  }

  .slicknav_menu {
    background: none;
    width: 120px;

    .slicknav_btn {
      margin: 20px 30px 6px;
    }

    .slicknav_nav {
      font-weight: 300;

      li {

        .scroll {
          color: $yellow;
        }
      }
    }
  }
}

.hideMenu {
  display: none;
}
