.nav {
  background-image: url("../img/ax.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 90px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .nav div {
    width: 60%; }
    .nav div img {
      width: 90%;
      transition: 0.23s; }
    .nav div .slickLogo {
      margin-top: 60px;
      transition: 0.22s; }
  .nav .slicknav_menu {
    background: none;
    width: 120px; }
    .nav .slicknav_menu .slicknav_btn {
      margin: 20px 30px 6px; }
    .nav .slicknav_menu .slicknav_nav {
      font-weight: 300; }
      .nav .slicknav_menu .slicknav_nav li .scroll {
        color: #f0ebd8; }

.hideMenu {
  display: none; }

section {
  display: flex;
  flex-direction: column; }
  section h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0; }
  section div {
    margin: 20px 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    section div img {
      height: 130px; }
  section p {
    width: 80%;
    margin: 0 auto;
    font-weight: 300; }

about {
  display: flex;
  flex-direction: column; }
  about h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0; }
  about div {
    width: 130px;
    margin: 10px auto 0; }
    about div img {
      height: 130px;
      border-radius: 50%; }
  about p {
    width: 80%;
    margin: 20px auto;
    font-weight: 300; }

forSale {
  display: flex;
  flex-direction: column; }
  forSale h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px; }
  forSale .forSaleGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    forSale .forSaleGrid .photo {
      width: 40%;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      forSale .forSaleGrid .photo .photoWrap {
        display: flex;
        justify-content: center; }
        forSale .forSaleGrid .photo .photoWrap img {
          height: 100px;
          width: 100px; }
      forSale .forSaleGrid .photo .itemName, forSale .forSaleGrid .photo .itemPrice {
        font-size: 0.5rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0; }

footer {
  height: 100px;
  background-color: #a89f68; }
  footer .contactIcons {
    width: 42px;
    margin: 10px auto 0; }
    footer .contactIcons i:visited,
    footer .contactIcons i:link,
    footer .contactIcons i {
      color: #98473e; }
    footer .contactIcons i:hover,
    footer .contactIcons i:active {
      color: #41521f; }
  footer p {
    font-size: .6rem;
    text-align: center; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

#content {
  flex: 1; }

/*# sourceMappingURL=main.css.map */
